@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мой сайт</title>
</head>
<body>
    <div>
        <h3>Главная форма</h3>
        <form method="get" action="/Home/Переход2/">
            <input type="submit" value="Регистрация" />
        </form>
        <form method="get" action="/Home/Переход3">
            <input type="submit" value="Вход" />
        </form>
   </div>
</body>
</html>