@model Лабораторная_12.Models.Сообщение
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мой сайт</title>
</head>
<body>
      <h3>Текст сообщения</h3>
      <ul>
            <li>@Model.Текст</li>
      </ul>      
</body>
</html>
